<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA51Ua7M2ox4GDHP4s1iLY1XQipWNUfcVU</string>
	<key>GCM_SENDER_ID</key>
	<string>643243944894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.epiciergeapp</string>
	<key>PROJECT_ID</key>
	<string>epicierge-firebase-6f9f9</string>
	<key>STORAGE_BUCKET</key>
	<string>epicierge-firebase-6f9f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643243944894:ios:9c15c91b8de75623c767ef</string>
</dict>
</plist>